<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> You must Log In to continue:</h1>

	<ul>
		<li><a href="/auth/login">Log in with password</a></li>
		<li><a href="/auth/signup">Create account with password</a></li>
		<li><a href="/auth/facebook">Log in with Facebook</a></li>
		<li><a href="/auth/google">Log in with Google</a></li>
	</ul>

	<p>Or go <a href="/">home</a>.</p>

</div>


